body {
  padding: 1rem;
}
.homeTasks {
  display: flex;
}
.homeTasks ul {
  margin: 0;
  padding: 0;
  list-style: none;
  width: 30%;
}
.homeTasks li {
  padding-bottom: 1rem;
  border-bottom: 1px solid lightgray;
  margin-bottom: 1rem;
}
.homeTasks h3,
.homeTasks p {
  margin: 0;
}
.comments {
  border: 1px solid lightgray;
  padding: 1rem;
}
.comments h5,
.comments h6,
.comments p {
  margin: 0;
}
.comments ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
